# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/
ENV/
env.bak/

# Jupyter
.ipynb_checkpoints

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log

# Build artifacts
build/
/dist/

# Environment
.env
